body{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    background-image: url(unavista-pacifica-de-la-naturaleza-en-otono-con-una-atmosfera-minimalista-3cr1cphyrc20mfb1.webp) ;
    background-size: 70%;
    background-position: center;
    background-color: rgb(227, 236, 220);
    background-repeat: no-repeat;
}